{% block title %}
    Timetable
{% endblock %}

{% block main %}
    <h1>Timetable</h1>
    <table class="table table-striped" style="width:100%">
      <tr>
        <th><h4>Symbol</h4></th>
        <th><h4>Shares</h4></th>
        <th><h4>Payment</h4></th>
        <th><h4>Date</h4></th>
      </tr>
      {% for timetable in timetable %}
      <tr>
        <td>{{ timetable[0] }}</td>
        <td>{{ timetable[1] }}</td>
        <td>{{ timetable[2] }}</td>
        <td>{{ timetable[3] }}</td>
        <td>{{ timetable[4] }}</td>
        <td>{{ timetable[5] }}</td>
        <td>{{ timetable[6] }}</td>
      </tr>
      {% endfor %}
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b></b></td>
      </tr>
    </table>

{% endblock %}
